# environment
RAILS_ENV={{ mastodon_environment }}
NODE_ENV={{ mastodon_environment }}

# domain
LOCAL_DOMAIN={{ mastodon_host }}
WEB_DOMAIN={{ mastodon_web_domain }}
ALTERNATE_DOMAINS={{ mastodon_alternate_domains }}

AUTHORIZED_FETCH={{ mastodon_authorized_fetch }}
LIMITED_FEDERATION_MODE={{ mastodon_limited_federation }}

# redirect to the first profile
SINGLE_USER_MODE={{ single_user_mode }}

# federation options
LIMITED_FEDERATION_MODE={{ limited_federation_mode }}
DISALLOW_UNAUTHENTICATED_API_ACCESS={{ disabllow_unauthenticated_api_access }}

# do not serve static files
RAILS_SERVE_STATIC_FILES=false

# concurrency
WEB_CONCURRENCY={{ web_concurrency }}
MAX_THREADS={{ max_threads }}

# pgbouncer
#PREPARED_STATEMENTS=false

# locale
DEFAULT_LOCALE={{ default_locale }}

# email, not used
SMTP_SERVER={{ smtp_server }}
SMTP_PORT={{ smtp_port | default(587) }}
SMTP_LOGIN={{ smtp_login | default('') }}
SMTP_PASSWORD={{ smtp_password | default('') }}
SMTP_FROM_ADDRESS={{ smtp_from_address }}

# secrets
SECRET_KEY_BASE=
OTP_SECRET=

VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=


# postgresql configuration
POSTGRES_USER={{ mastodon_db_user }}
POSTGRES_DB={{ mastodon_db }}_{{ mastodon_environment }}
POSTGRES_PASSWORD={{ mastodon_db_password }}

# pgbouncer configuration
#POOL_MODE=transaction
#ADMIN_USERS=postgres,mastodon
#DATABASE_URL="postgres://{{ mastodon_db_user }}:{{ mastodon_db_password }}@postgresql:5432/{{ mastodon_db }}_{{ mastodon_environment }}"


# mastodon database configuration
#DB_HOST=pgbouncer
DB_HOST={{ mastodon_db_login_unix_socket }}
DB_USER={{ mastodon_db_user }}
DB_NAME={{ mastodon_db }}_{{ mastodon_environment }}
DB_PASS={{ mastodon_db_password }}
DB_PORT=5432

REDIS_HOST={{ redis_host }}
REDIS_PORT={{ redis_port }}

CACHE_REDIS_HOST=redis-volatile
CACHE_REDIS_PORT=6379

# elasticsearch
ES_JAVA_OPTS=-Xms512m -Xmx512m
ELASTIC_PASSWORD={{ es_pass }}

ES_ENABLED={{ es_enabled }}
ES_HOST={{ es_host }}
ES_PORT={{ es_port }}
# Authentication for ES (optional)
ES_USER={{ es_user }}
ES_PASS={{ es_pass }}
