[Unit]
Description=Schedule a preview cards remove every week

[Timer]
Persistent=true
OnCalendar={{ preview_cards_remove_schedule }}
Unit=mastodon-preview_cards-remove.service

[Install]
WantedBy=timers.target
