[Unit]
Description=Mastodon - update Elasticsearch indices
Wants=mastodon-search-deploy.timer

[Service]
Type=oneshot
StandardError=null
StandardOutput=null

WorkingDirectory={{ mastodon_composer_folder }}
ExecStart=/usr/bin/docker-compose -f {{ mastodon_composer_folder }}/docker-compose.yml run --rm shell tootctl search deploy

[Install]
WantedBy=multi-user.target
